// 公用mixin定义
@mixin center() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
@mixin Ycenter() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin Xcenter(){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
$config_backgroud:rgb(20, 18, 19);
$config_button_backgroud:rgba(49, 54, 66,.8);
$selectbg :rgb(16, 163, 249);

//  页面通用class
.beauty-scroll{
    height: 100%;
    .el-scrollbar{
        height: 100%; /*此处一定要设置高度，不然内层的计算属性不生效*/
    }
    .el-scrollbar__wrap {
        width: calc(100% + 17px); /*将垂直滚动条挤到可视区域之外*/
        height: calc(100% + 17px); /*将水平滚动条挤到可视区域之外*/
    }
    .el-scrollbar__bar.is-vertical{
        width: 3px;
        right: 1px;
    }
    .el-scrollbar__thumb{
        background-color: #444C55;
        border-radius: 0px;
    }
}
.m-no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}
.hide{
    width: 0px !important;
    border: none !important;
    opacity: 0 !important;
}
.hide2{
    height: 0px !important;
    border: none !important;
    opacity: 0 !important;
}